html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  background: rgba(0, 0, 0, 0.5);

  /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%); */
  font-family: "Courier New", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

button{
  cursor: pointer;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}